<h3>Lista de Produtos</h3>
<button (click)="irParaCadastro()">Novo Produto</button>
<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Preço Unitário</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{ produto.id }}</td>
      <td>
        <span *ngIf="!produtoEditando || produtoEditando.id !== produto.id">{{ produto.nome }}</span>
        <input *ngIf="produtoEditando && produtoEditando.id === produto.id" [(ngModel)]="produtoEditando.nome" />
      </td>
      <td>
        <span *ngIf="!produtoEditando || produtoEditando.id !== produto.id">{{ produto.valor_unitario }}</span>
        <input *ngIf="produtoEditando && produtoEditando.id === produto.id" type="number" [(ngModel)]="produtoEditando.valor_unitario" />
      </td>
      <td>
        <button *ngIf="!produtoEditando || produtoEditando.id !== produto.id" (click)="editarProduto(produto)">Editar</button>
        <button *ngIf="produtoEditando && produtoEditando.id === produto.id" (click)="salvarEdicao()">Salvar</button>
        <button *ngIf="produtoEditando && produtoEditando.id === produto.id" (click)="cancelarEdicao()">Cancelar</button>
        <button (click)="deletarProduto(produto.id)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
